<ion-content>
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <!-- Mensaje de error cuando falla la autenticación -->
    

    <ion-button expand="full" (click)="onSubmit()">Login</ion-button>

    <!-- Botón para recuperar la contraseña -->
    
    <ion-button expand="full" routerLink="/page/registrar">Forgot Password</ion-button>
    <!-- Botón para registrar un nuevo usuario -->
    
  </form>
</ion-content>
